:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.swipe-content-body {
  // 画面の縦幅いっぱいからヘッダーとセーフエリア分を引く
  height: calc(100vh - (var(--ion-safe-area-top, 0px) + 56px)); 
  width: 100%;
  overflow-y: auto; // これで縦スクロールが有効になります
  background: var(--ion-background-color);
  -webkit-overflow-scrolling: touch; // スムーズなスクロール（iOS用）
}